* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff5fa;
    color: #333;
}

/* MENU */

header {
    background: linear-gradient(135deg, #e8a4c9, #b89bd9);
    color: white;
    padding: 25px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 12px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffe1f0;
}

/* CONTEÚDO */

main {
    max-width: 1000px;
    margin: auto;
}

section {
    min-height: 500px;
    padding: 80px 30px;
    text-align: center;
}

/* INÍCIO */

#inicio {
    background-color: #fff5fa;
}

#inicio h2 {
    color: #c56fa5;
    font-size: 35px;
    margin-bottom: 25px;
}

/* SOBRE */

#sobre {
    background-color: #f5edff;
}

#sobre h2 {
    color: #8d6bb8;
    font-size: 35px;
    margin-bottom: 25px;
}

/* CURIOSIDADES */

#curiosidades {
    background-color: #fff0f7;
}

#curiosidades h2 {
    color: #c56fa5;
    font-size: 35px;
    margin-bottom: 25px;
}

/* TEXTOS */

section p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}
